/* section.destinos {  
  width: 100%;
  height: auto;
  white-space: normal;
  word-break: normal;
} */

section.destinos h3 {
  font: 16px "Open Sans", sans-serif;
  color: var(--color-headline);
  padding-bottom: 2px;   
  margin-top: 64px;
}

section.destinos h2 {  
  font: bold 32px "Open Sans", sans-serif;
  color: var(--color-primary);
  padding-bottom: 8px;
}

section.destinos p {  
  width: auto;
  height: 88px;  
  font: 16px "Open Sans", sans-serif;
  color: #333333; 
  text-align: justify;
  margin-bottom: 64px;
}


