.cabeçalho h2 {
  font: bold 16px "Open Sans", sans-serif;
  color: var(--color-headline);
  padding-bottom: 8px;  
}

.cabeçalho h1 {
  color: var(--color-primary);
  font: bold 36px "Open Sans", sans-serif; /* nessa ordem */ 
  margin-bottom: 40px;
}