.main img {
  width: 100%;
  height: 660px;
  border-radius: 28px;
  object-fit: cover; /*cobre todo o espaço disponível*/
  image-rendering: crisp-edges; /*mantém a qualidade da imagem*/  
}

.main p {
  font: italic 16px var(--font-family);  
  color: #333333;
  text-align: center; /* centraliza o texto */
  width: 1120px;
  height: auto;
  margin: 40px;  
}