section.Yonggungsa img {
  width: 1120px;
  height: 350px;
  border-radius: 28px;
  object-fit: cover; /*cobre todo o espaço disponível*/
  image-rendering: crisp-edges; /*mantém a qualidade da imagem*/  
}

section.Yonggungsa h3 {
  
  width: 1183.51px;
  height: 38px;
  font: bold 28px "Open Sans", sans-serif;
  color: var(--color-primary);
  padding-bottom: 4px;      
  margin: 20px 0 4px 1%; 
}
  
section.Yonggungsa p {
  width: 1120px;
  height: auto;
  font: 16px "Open Sans", sans-serif;
  color: #333333;
   
}

section.Yonggungsa .bom-para p {
  width: 1120px;
  height: auto;
  font: bold 16px "Open Sans", sans-serif;
  color: #333333;   
}

section.Yonggungsa .bom-para ul {
  
  list-style: disc; /* adc a bolinha */
  text-decoration: none;
  padding-left: 15px;
  margin-bottom: 48px;
}

section.Yonggungsa .bom-para a {
  font: bold 16px "Open Sans", sans-serif;
  color: var(--accent-blue);
  text-decoration: none;
}


continua....
section.Beomeo-sa img {
  width: 1120px;
  height: 350px;
  border-radius: 28px;
  object-fit: cover; /*cobre todo o espaço disponível*/
  image-rendering: crisp-edges; /*mantém a qualidade da imagem*/  
}

section.Beomeo-sa h3 {
  
  width: 1183.51px;
  height: 38px;
  font: bold 28px "Open Sans", sans-serif;
  color: var(--color-primary);
  padding-bottom: 4px;      
  margin: 20px 0 4px 1%; 
}
  
section.Yonggungsa p {
  width: 1120px;
  height: auto;
  font: 16px "Open Sans", sans-serif;
  color: #333333;
   
}

section.Yonggungsa .bom-para p {
  width: 1120px;
  height: auto;
  font: bold 16px "Open Sans", sans-serif;
  color: #333333;   
}

section.Yonggungsa .bom-para ul {
  
  list-style: disc; /* adc a bolinha */
  text-decoration: none;
  padding-left: 15px;
  margin-bottom: 48px;
}

section.Yonggungsa .bom-para a {
  font: bold 16px "Open Sans", sans-serif;
  color: var(--accent-blue);
  text-decoration: none;
}